<%= form_for(@search , url: "/search", method: :get, :html => {:class =>"searchform cf"} ) do |f| %>
  <%= f.text_field :search ,:placeholder => "Start searching now...", :name =>"search"%>
  <button name="commit" type="submit" value="Search">Search</button>
<%end%>
